amqp==5.3.1
asgiref==3.11.1
attrs==26.1.0
billiard==4.2.4
celery==5.6.3
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
cryptography==48.0.1
Django==6.0.6
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.29.0
drf-yasg==1.21.15
et-xmlfile==2.0.0
h11==0.16.0
inflection==0.5.1
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
kombu==5.6.2
mssql-django==1.7.2
numpy==2.4.6
openpyxl==3.1.5
pandas==2.3.3
pdfminer.six==20251107
pdfplumber==0.11.8
pillow==12.0.0
packaging==26.2
psycopg2-binary==2.9.12
pyJWT==2.13.0
pyodbc==5.3.0
pypdf==5.9.0
pypdfium2==5.12.0
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.3
redis==8.0.0
referencing==0.37.0
rpds-py==2026.6.3
six==1.17.0
sqlparse==0.5.5
tzdata==2025.2
tzlocal==5.4.4
uritemplate==4.2.0
uvicorn==0.44.0
vine==5.1.0
waitress==3.0.2
watchdog==6.0.0
wcwidth==0.8.2
requests